[submodule "janus/vim-better-sml"]
	path = janus/vim-better-sml
	url = https://github.com/jez/vim-better-sml
[submodule "colorgcc"]
	path = colorgcc
	url = https://github.com/colorgcc/colorgcc
	branch = master
